<!DOCTYPE html>
<html lang="en">
<body>
    <div class="login-container">
        <div class="login-logo">
            <img src="/assets/Images/Logo.png" alt="Logo">
        </div>
        <h1>Login</h1>
        <form class="login-form" action="#" method="post">
            <input type="text" placeholder="Username" name="username" required>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit">Log In</button>
        </form>
        <div class="create-account-link">
            <p>¿No tienes cuenta? <a routerLink="/registro">Crear Cuenta Nueva</a></p>
        </div>
    </div>
</body>
</html>
 