<!DOCTYPE html>
<html lang="en">
<body>
    <div class="login-container">
        <div class="login-logo">
            <img src="/assets/Images/Logo.png" alt="Logo">
        </div>
        <h1>Login</h1>
        <form (ngSubmit)="iniciarSesion()" #inicioDeSecionForm="ngForm" class="login-form">
            <input type="text" [(ngModel)]="usuario.usuario" placeholder="Username" name="usuario" required>
            <input type="password" [(ngModel)]="usuario.contrasena" placeholder="Password" name="contrasena" required>
            <button type="submit">Log In</button>
        </form>
        <div class="create-account-link">
            <p>¿No tienes cuenta? <a routerLink="/registro">Crear Cuenta Nueva</a></p>
        </div>
    </div>
</body>
</html>
 