<!DOCTYPE html>
<html lang="en">
    <style>
        
    </style>
<body>
    <div class="header-rectangle">
        <img src='/assets/Images/Logo.png' class="logo-image">
        <div class="title-container">
            <p>Aqui puedes visualizar todas las conlecciones de la base de datos!!!</p>
        </div>
    </div>
    <div class="button-container">
        <a routerLink="/mantenimientoUsuario" class="button">
            <span class="button-text">Usuarios</span>
          </a>
    </div>
    <div class="button-container">
        <a routerLink="/mantenimientoEstudiante" class="button">
            <span class="button-text">Estudiantes</span>
        </a>
    </div>
    <div class="button-container">
        <a routerLink="/mantenimientoHiragana" class="button">
            <span class="button-text">Hiragana</span>
        </a>
    </div>
    <div class="button-container">
        <a routerLink="/mantenimientoKatakana" class="button">
            <span class="button-text">Katakana</span>
        </a>
    </div>
    <div class="button-container">
        <a routerLink="/mantenimientoKanji" class="button">
            <span class="button-text">Kanji</span>
        </a>
    </div>
</body>
</html>
