<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
    
        </style>
    </head>
<body>

    <div class="header-rectangle">
        <img src='/assets/Images/Logo.png' class="logo-image">
            <div class="title-container">
                <p>Katakana es uno de los dos sistemas de escritura silábica utilizados en la lengua japonesa,
                    se emplea comúnmente para representar palabras de origen extranjero, nombres propios, términos técnicos y científicos, entre otros.</p>
            </div>
        </div>
        <div class="linea"></div>
    <section>
        <div class="horizontal-list-container">
            <!-- LINEA DE VOCALES -->
            <ul class="horizontal-list">
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('ア')">
                        <span class="button-text">ア</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('イ')">
                        <span class="button-text">イ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('ウ')">
                        <span class="button-text">ウ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('エ')">
                        <span class="button-text">エ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('オ')">
                        <span class="button-text">オ</span>
                    </a>
                </li>
            </ul>

            <!-- LINEA DE K -->
            <ul class="horizontal-list">
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('カ')">
                        <span class="button-text">カ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('キ')">
                        <span class="button-text">キ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('ク')">
                        <span class="button-text">ク</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('ケ')">
                        <span class="button-text">ケ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('コ')">
                        <span class="button-text">コ</span>
                    </a>
                </li>
            </ul>

            <!-- LINEA DE S -->
            <ul class="horizontal-list">
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('サ')">
                        <span class="button-text">サ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('シ')">
                        <span class="button-text">シ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('ス')">
                        <span class="button-text">ス</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('セ')">
                        <span class="button-text">セ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('ソ')">
                        <span class="button-text">ソ</span>
                    </a>
                </li>
            </ul>

            <!-- LINEA DE T -->
            <ul class="horizontal-list">
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('タ')">
                        <span class="button-text">タ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('チ')">
                        <span class="button-text">チ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('ツ')">
                        <span class="button-text">ツ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('テ')">
                        <span class="button-text">テ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('ト')">
                        <span class="button-text">ト</span>
                    </a>
                </li>
            </ul>

            <!-- LINEA DE N -->
            <ul class="horizontal-list">
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('ナ')">
                        <span class="button-text">ナ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('ニ')">
                        <span class="button-text">ニ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('ヌ')">
                        <span class="button-text">ヌ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('ネ')">
                        <span class="button-text">ネ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('ノ')">
                        <span class="button-text">ノ</span>
                    </a>
                </li>
            </ul>

            <!-- LINEA DE H -->
            <ul class="horizontal-list">
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('ハ')">
                        <span class="button-text">ハ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('ヒ')">
                        <span class="button-text">ヒ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('フ')">
                        <span class="button-text">フ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('ヘ')">
                        <span class="button-text">ヘ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('ホ')">
                        <span class="button-text">ホ</span>
                    </a>
                </li>
            </ul>

            <!-- LINEA DE M -->
            <ul class="horizontal-list">
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('マ')">
                        <span class="button-text">マ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('ミ')">
                        <span class="button-text">ミ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('ム')">
                        <span class="button-text">ム</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('メ')">
                        <span class="button-text">メ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('モ')">
                        <span class="button-text">モ</span>
                    </a>
                </li>
                </ul>
        
                    <!-- LINEA DE Y -->
                    <ul class="horizontal-list">
                        <li class="button-container">
                            <a class="kana-button" (click)="openModal('ヤ')">
                                <span class="button-text">ヤ</span>
                            </a>
                        </li>
                        <!-- ESPACIO -->
                        <li class="empty-space">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                        <li class="button-container">
                            <a class="kana-button" (click)="openModal('ユ')">
                                <span class = "button-text">ユ</span>
                            </a>
                        </li>
                        <!-- ESPACIO -->
                        <li class="empty-space">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                        <li class="button-container">
                            <a class="kana-button" (click)="openModal('ヨ')">
                                <span class="button-text">ヨ</span>
                            </a>
                        </li>
                    </ul>
        
                    <!-- LINEA DE R -->
                    <ul class="horizontal-list">
                        <li class="button-container">
                            <a class="kana-button" (click)="openModal('ラ')">
                                <span class="button-text">ラ</span>
                            </a>
                        </li>
                        <li class="button-container">
                            <a class="kana-button" (click)="openModal('リ')">
                                <span class = "button-text">リ</span>
                            </a>
                        </li>
                        <li class="button-container">
                            <a class="kana-button" (click)="openModal('ル')">
                                <span class="button-text">ル</span>
                            </a>
                        </li>
                        <li class="button-container">
                            <a class="kana-button" (click)="openModal('レ')">
                                <span class="button-text">レ</span>
                            </a>
                        </li>
                        <li class="button-container">
                            <a class="kana-button" (click)="openModal('ロ')">
                                <span class="button-text">ロ</span>
                            </a>
                        </li>
                    </ul>
        
                    <!-- LINEA DE W -->
                    <ul class="horizontal-list">
                        <li class="button-container">
                            <a class="kana-button" (click)="openModal('ワ')">
                                <span class="button-text">ワ</span>
                            </a>
                        </li>
                        <!-- ESPACIO -->
                        <li class="empty-space">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                        <!-- ESPACIO -->
                        <li class="empty-space">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                        <!-- ESPACIO -->
                        <li class="empty-space">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                        <li class="button-container">
                            <a class="kana-button" (click)="openModal('ヲ')">
                                <span class = "button-text">ヲ</span>
                            </a>
                        </li>
                    </ul>
        
                    <!-- LINEA DE N -->
                    <ul class="horizontal-list">
                        <li class="button-container">
                            <a class="kana-button" (click)="openModal('ン')">
                                <span class="button-text">ン</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </section> 

            <div *ngIf="isModalOpen" class="modal-overlay">
                <div class="modal-container">
                    <app-modal [isOpen]="isModalOpen">
                        <div class="modal-header">
                            <div class="kana-romanji">
                                <div class="kana">{{ katakanaData[0].kana }}</div>
                                <div class="romanji">{{ katakanaData[0].romanji }}</div>
                            </div>
                            <div class="right-column">
                                <div class="japanese">{{ katakanaData[0].palabraJapones }}</div>
                                <div class="spanish">{{ katakanaData[0].palabraEspanol }}</div>
                            </div>
                        </div>
                        <button class="modal-button" (click)="closeModal()">Cerrar</button>
                    </app-modal>
                </div>
            </div>

        </body>
        </html>
        
