<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
    
        </style>
    </head>
<body>

    <div class="header-rectangle">
        <img src='/assets/Images/Logo.png' class="logo-image">
            <div class="title-container">
                <p>Katakana es uno de los dos sistemas de escritura silábica utilizados en la lengua japonesa,
                    se emplea comúnmente para representar palabras de origen extranjero, nombres propios, términos técnicos y científicos, entre otros.</p>
            </div>
        </div>
        <div class="linea"></div>
    <section>
        <div class="horizontal-list-container">
            <!-- LINEA DE VOCALES -->
            <ul class="horizontal-list">
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">ア</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">イ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">ウ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">エ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">オ</span>
                    </a>
                </li>
            </ul>

            <!-- LINEA DE K -->
            <ul class="horizontal-list">
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">カ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">キ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">ク</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">ケ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">コ</span>
                    </a>
                </li>
            </ul>

            <!-- LINEA DE S -->
            <ul class="horizontal-list">
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">サ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">シ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">ス</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">セ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">ソ</span>
                    </a>
                </li>
            </ul>

            <!-- LINEA DE T -->
            <ul class="horizontal-list">
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">タ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">チ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">ツ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">テ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">ト</span>
                    </a>
                </li>
            </ul>

            <!-- LINEA DE N -->
            <ul class="horizontal-list">
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">ナ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">ニ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">ヌ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">ネ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">ノ</span>
                    </a>
                </li>
            </ul>

            <!-- LINEA DE H -->
            <ul class="horizontal-list">
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">ハ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">ヒ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">フ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">ヘ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">ホ</span>
                    </a>
                </li>
            </ul>

            <!-- LINEA DE M -->
            <ul class="horizontal-list">
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">マ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">ミ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">ム</span>
                    </a>
                </li>
                <li class="button-container">
                    <a  class="kana-button">
                        <span class="button-text">メ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a  class="kana-button">
                        <span class="button-text">モ</span>
                    </a>
                </li>
                </ul>
        
                    <!-- LINEA DE Y -->
                    <ul class="horizontal-list">
                        <li class="button-container">
                            <a  class="kana-button">
                                <span class="button-text">ヤ</span>
                            </a>
                        </li>
                        <!-- ESPACIO -->
                        <li class="empty-space">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                        <li class="button-container">
                            <a  class="kana-button">
                                <span class = "button-text">ユ</span>
                            </a>
                        </li>
                        <!-- ESPACIO -->
                        <li class="empty-space">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                        <li class="button-container">
                            <a  class="kana-button">
                                <span class="button-text">ヨ</span>
                            </a>
                        </li>
                    </ul>
        
                    <!-- LINEA DE R -->
                    <ul class="horizontal-list">
                        <li class="button-container">
                            <a  class="kana-button">
                                <span class="button-text">ラ</span>
                            </a>
                        </li>
                        <li class="button-container">
                            <a  class="kana-button">
                                <span class = "button-text">リ</span>
                            </a>
                        </li>
                        <li class="button-container">
                            <a  class="kana-button">
                                <span class="button-text">ル</span>
                            </a>
                        </li>
                        <li class="button-container">
                            <a  class="kana-button">
                                <span class="button-text">レ</span>
                            </a>
                        </li>
                        <li class="button-container">
                            <a  class="kana-button">
                                <span class="button-text">ロ</span>
                            </a>
                        </li>
                    </ul>
        
                    <!-- LINEA DE W -->
                    <ul class="horizontal-list">
                        <li class="button-container">
                            <a  class="kana-button">
                                <span class="button-text">ワ</span>
                            </a>
                        </li>
                        <!-- ESPACIO -->
                        <li class="empty-space">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                        <!-- ESPACIO -->
                        <li class="empty-space">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                        <!-- ESPACIO -->
                        <li class="empty-space">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                        <li class="button-container">
                            <a  class="kana-button">
                                <span class = "button-text">ヲ</span>
                            </a>
                        </li>
                    </ul>
        
                    <!-- LINEA DE N -->
                    <ul class="horizontal-list">
                        <li class="button-container">
                            <a  class="kana-button">
                                <span class="button-text">ン</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </section> 
        </body>
        </html>
        
