body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    height: 6220x;
    text-align: center;
}

.login-container h1 {
    font-size: 24px;
}

.login-logo img {
    max-width: 200px; 
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

.login-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    background-color: #e95f9d;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #dc498b;
}

.create-account-link {
    margin-top: 10px;
}

.create-account-link a {
    text-decoration: none;
    color: #e95f9d;
}