<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="login-container">
        <div class="login-logo">
            <img src="/assets/Images/Logo.png" alt="Logo">
        </div>
        <h1>Registro</h1>
        <form (ngSubmit)="registro()" #registroForm="ngForm" class="login-form">
            <input type="text" ngModel placeholder="Nombre" name="nombre" required>
            <input type="text" ngModel placeholder="Apellido" name="apellido" required>
            <input type="text" ngModel placeholder="Correo Electronico" name="correo" required>
            <input type="number" ngModel placeholder="Edad" name="edad" required>
            <input type="text" ngModel placeholder="Usuario" name="usuario" required>
            <input type="password" ngModel placeholder="Contraseña" name="contrasena" required>
            <button type="submit">Registrarse </button>
        </form>
        <div class="create-account-link">
            <p>¿Ya tienes una cuenta? <a routerLink="/inicio">Iniciar sesión</a></p>
        </div>
    </div>
</body>
</html>
