<!DOCTYPE html>
<html lang="en">
<body>
    <div class="header-rectangle">
        <img src='/assets/Images/Logo.png' class="logo-image">
        <div class="title-container">
            <p>KanaKorner es una pagina web que ayudara a las personas a aprender sobre la escritura japonesa</p>
        </div>
    </div>
    <div class="button-container">
        <a routerLink="/hiragana" class="hiragana-button">
            <span class="button-text">Hiragana</span>
            <img src='/assets/Images/training_03.jpg' class="button-image">
          </a>
    </div>
    <div class="button-container">
        <a routerLink="/katakana" class="katakana-button">
            <span class="button-text">Katakana</span>
            <img src='/assets/Images/training_04.jpg' class="button-image">
        </a>
    </div>
    <div class="button-container">
        <a routerLink="/kanji" class="kanji-button">
            <span class="button-text">Kanji</span>
            <img src='/assets/Images/training_02.jpg' class="button-image">
        </a>
    </div>
    <div class="rectangle"></div>
</body>
</html>
