<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
    
        </style>
    </head>
<body>

    <div class="header-rectangle">
        <img src='/assets/Images/Logo.png' class="logo-image">
            <div class="title-container">
                <p>Kanji a diferencia del hiragana y katakana, que son sistemas de escritura silábica, 
                    el kanji consiste en caracteres logográficos, cada uno representando una palabra o una parte de una palabra.</p>
            </div>
    </div>
    <div class="linea"></div>
    <section>
        <div class="horizontal-list-container">
            <!-- ///////////////////////////////////// -->
            <ul class="horizontal-list">
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">魚</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">肉</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">卵</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">水</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">食</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">飲</span>
                    </a>
                </li>
            </ul>

            <!-- ///////////////////////////////////// -->
            <ul class="horizontal-list">
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">大</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">小</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">新</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">古</span>
                    </a>
                </li>
            </ul>

            <!-- ///////////////////////////////////// -->
            <ul class="horizontal-list">
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">時</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">分</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button">
                        <span class="button-text">半</span>
                    </a>
                </li>
            </ul>
            <ul class="horizontal-list">
                <li class="button-container">
                <a class="kana-button">
                    <span class="button-text">月</span>
                </a>
            </li>
            <li class="button-container">
                <a class="kana-button">
                    <span class="button-text">火</span>
                </a>
            </li>
            <li class="button-container">
                <a class="kana-button">
                    <span class="button-text">水</span>
                </a>
            </li>
            <li class="button-container">
                <a class="kana-button">
                    <span class="button-text">木</span>
                </a>
            </li>
            <li class="button-container">
                <a class="kana-button">
                    <span class="button-text">金</span>
                </a>
            </li>
            <li class="button-container">
                <a class="kana-button">
                    <span class="button-text">土</span>
                </a>
            </li>
            <li class="button-container">
                <a class="kana-button">
                    <span class="button-text">日</span>
                </a>
            </li>
        </ul>
        </div>
    </section>
</body>
</html>  
    
