<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
    
        </style>
    </head>
<body> 

    <div class="header-rectangle">
        <img src='/assets/Images/Logo.png' class="logo-image">
            <div class="title-container">
                <p>Hiragana es el alfabeto fonético japonés básico. Está compuesto por todos los sonidos del idioma japonés, o sea que, en teoría, con los hiragana se puede escribir todo.
                   Sin embargo, como el japonés se escribe sin espacios, el texto resultante sería indescifrable.</p>
            </div>
    </div>
        <div class="linea"></div>
    <section>
        <div class="horizontal-list-container">
            <!-- LINEA DE VOCALES -->
            <ul class="horizontal-list">
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('あ')">
                        <span class="button-text">あ</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('い')">
                        <span class = "button-text">い</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('う')">
                        <span class="button-text">う</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('え')">
                        <span class="button-text">え</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('お')">
                        <span class="button-text">お</span>
                    </a>
                </li>
            </ul>

            <!-- LINEA DE K -->
            <ul class="horizontal-list">
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('か')">
                        <span class="button-text">か</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('き')">
                        <span class = "button-text">き</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('く')">
                        <span class="button-text">く</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('け')">
                        <span class="button-text">け</span>
                    </a>
                </li>
                <li class="button-container">
                    <a class="kana-button" (click)="openModal('こ')">
                        <span class="button-text">こ</span>
                    </a>
                </li>
            </ul>

                <!-- LINEA DE S -->
                <ul class="horizontal-list">
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('さ')">
                            <span class="button-text">さ</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('し')">
                            <span class = "button-text">し</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('す')">
                            <span class="button-text">す</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('せ')">
                            <span class="button-text">せ</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('そ')">
                            <span class="button-text">そ</span>
                        </a>
                    </li>
                </ul>

                <!-- LINEA DE T -->
                <ul class="horizontal-list">
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('た')">
                            <span class="button-text">た</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('ち')">
                            <span class = "button-text">ち</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('つ')">
                            <span class="button-text">つ</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('て')">
                            <span class="button-text">て</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('と')">
                            <span class="button-text">と</span>
                        </a>
                    </li>
                </ul>

                <!-- LINEA DE N -->
                <ul class="horizontal-list">
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('な')">
                            <span class="button-text">な</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('に')">
                            <span class = "button-text">に</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('ぬ')">
                            <span class="button-text">ぬ</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('ね')">
                            <span class="button-text">ね</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('の')">
                            <span class="button-text">の</span>
                        </a>
                    </li>
                </ul>

                <!-- LINEA DE H -->
                <ul class="horizontal-list">
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('は')">
                            <span class="button-text">は</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('ひ')">
                            <span class = "button-text">ひ</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('ふ')">
                            <span class="button-text">ふ</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('へ')">
                            <span class="button-text">へ</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('ほ')">
                            <span class="button-text">ほ</span>
                        </a>
                    </li>
                </ul>

                <!-- LINEA DE M -->
                <ul class="horizontal-list">
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('ま')">
                            <span class="button-text">ま</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('み')">
                            <span class = "button-text">み</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('む')">
                            <span class="button-text">む</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('め')">
                            <span class="button-text">め</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('も')">
                            <span class="button-text">も</span>
                        </a>
                    </li>
                </ul>

                <!-- LINEA DE Y -->
                <ul class="horizontal-list">
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('や')">
                            <span class="button-text">や</span>
                        </a>
                    </li>
                    <!-- ESPACIO -->
                    <li class="empty-space">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('ゆ')">
                            <span class = "button-text">ゆ</span>
                        </a>
                    </li>
                    <!-- ESPACIO -->
                    <li class="empty-space">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('よ')">
                            <span class="button-text">よ</span>
                        </a>
                    </li>
                </ul>

                <!-- LINEA DE R -->
                <ul class="horizontal-list">
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('ら')">
                            <span class="button-text">ら</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('り')">
                            <span class = "button-text">り</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('る')">
                            <span class="button-text">る</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('いれ')">
                            <span class="button-text">れ</span>
                        </a>
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('ろ')">
                            <span class="button-text">ろ</span>
                        </a>
                    </li>
                </ul>

                <!-- LINEA DE W -->
                <ul class="horizontal-list">
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('わ')">
                            <span class="button-text">わ</span>
                        </a>
                    </li>
                    <!-- ESPACIO -->
                    <li class="empty-space">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <!-- ESPACIO -->
                    <li class="empty-space">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <!-- ESPACIO -->
                    <li class="empty-space">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('を')">
                            <span class = "button-text">を</span>
                        </a>
                    </li>
                </ul>

                <!-- LINEA DE N -->
                <ul class="horizontal-list">
                    <li class="button-container">
                        <a class="kana-button" (click)="openModal('ん')">
                            <span class="button-text">ん</span>
                        </a>
                    </li>
                </ul>
            </div>
            
    </section> 
    <div *ngIf="isModalOpen" class="modal-overlay">
        <div class="modal-container">
            <app-modal [isOpen]="isModalOpen">
                <div class="modal-header">
                    <div class="kana-romanji">
                        <div class="kana">{{ hiraganaData[0].kana }}</div>
                        <div class="romanji">{{ hiraganaData[0].romanji }}</div>
                    </div>
                    <div class="right-column">
                        <div class="japanese">{{ hiraganaData[0].palabraJapones }}</div>
                        <div class="spanish">{{ hiraganaData[0].palabraEspanol }}</div>
                    </div>
                </div>
                <button class="modal-button" (click)="closeModal()">Cerrar</button>
            </app-modal>
        </div>
    </div>
</body>
</html>
